#mainarea{
    margin: 200px 0 0 230px;
    padding: 5px;
    width:80%;
}
#mainarea>div>h3{
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mainarea>div>p{
    color: grey;
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mainareabuttom{
    width: 100%;
    display: grid;
    display: flex;
    justify-content: space-around;
}
#c1{
    width: 25%;
    padding: 2px;
    color: grey;
    font-family: sans-serif;
}
#line{
    height: 440px;
    width: 1px;
    background-color: black;
}
#c2{
    width: 54%;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-gap: 40px;
    padding: 10px;
}

.boxi_vam_4{
    padding: 10px;
    display: flex;
}
.boxl_vam_4>img{
    height: 150px;
}
.boxr_vam_4{
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
}
.boxr_vam_4>h5:nth-child(1){
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 550;
}
.boxr_vam_4>h5:nth-child(2){
    font-size: 14px;
    font-weight: 300;
}
.pri_vam_4{
    color: black;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 8px;
}
.spri_vam_4{
    text-decoration: line-through;
    display: inline-block;
    font-size: 10px;
    margin-top: 8px;
    margin-left: 8px;
    color: grey;
}
