#container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    color:rgb(26, 25, 25);
    margin:4%;
    width:80%;
    grid-gap:20px;
    margin-left: 200px;
    margin-top:-150px;
    border-left: 1px solid grey;
    padding:20px;
  
    
}
#container>div{
    
     margin:2%;
     border-radius:5px;     
}
#container>div:hover{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
img{
    height:60%;
    width:100%
}
#flex{
    margin-top:-15px;
  display:flex;
  justify-content: space-around;
  margin-left:-10px ;

}
body{
    font-family: sans-serif;
}
#top{    
   font-size: 15px;
}

#priceSort{
   margin-left:70%;
   width:18%;
   height:40px;
   margin-bottom: -50px;
}
#sorting{
   display:flex
}
#top>hr{
   margin-top:-10px
}
#left{
   width:15%;
   
}
#bag{
    color:rgb(255,75,127);
    width:100%;
    height:5px;
    text-align: center;
    font-size:small;
    background-color: WHITE;
    border:0;
    margin-top:-10px

}
#percentoff{
    color:red;
}
#wishlist{
    width:100%;
    padding:10px;
    background-color: white;
    border:1px solid grey;
}
#tophr{
    margin-top:-10px
}