#container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    color:rgb(26, 25, 25);
    margin:4%;
    width:80%;
    grid-gap:25px;
    margin-left: 200px;
    margin-top:-26%;
    border-left: 1px solid grey;
    padding:20px;
  
    
}
#container>div{
    
     margin:2%;
     border-radius:5px;     
      
}
#container>div:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
img{
    height:60%;
    width:100%
}
#flex{
    margin-top:-15px;
  display:flex;
  justify-content: space-around;
  margin-left:-8px ;

}
body{
    font-family: sans-serif;
}
#top{    
   font-size: 15px;
}

#priceSort{
   margin-left:70%;
   width:18%;
   height:40px;
   margin-bottom: -50px;
}
#sorting{
   display:flex
}

#left{
   width:15%;
   display:block; 
}
#bagmen{
    color:rgb(255,75,127);
    width:100%;
    height:5px;
    text-align: center;
    font-size:small;
    background-color: WHITE;
    border:0;
    margin-top:-10px

}
#percentoff{
    color:red;
}
#menwishlist{
    width:90%;
    padding:8px;
    background-color: white;
    border:0.5px solid rgb(212, 211, 211);
    margin-left:5%
}
#menwishlist:hover{
    border:0.5px solid black;
    
}
#tophr{
    margin-top:-2px;
    width:100%;
}
#bottomhr{
    width:105%;
    margin-top:50px
}
